.block_0Filter{
display: flex;
/* background-color: red; */
max-width: 500px;
justify-content: space-evenly;
align-items: center;
}
.block_0Filter>button{
  background-color: #2b2b2b;
  width: 170px;
  max-width: 170px;
  height: 45px;
  /* background-color: gold; */
  padding: 17px auto;
  border: 2px solid white;
  border-radius: 0px;
  font-weight: bold;
  color: white;
}
.block_0Filter>button:nth-child(2){
  display: flex;
  justify-content: space-evenly;
align-items: center;
}
.block_0Filter>button:hover{
  background-color: #ec08ec;
  background-image:  linear-gradient(to right,#f05a28,#ec008c,#f05a28);
}
.block_0 {
  /* background-color: aqua; */
  max-width: 900px;
  /* width: 900px; */
  /* height: 2449px; */
  height: auto;
  min-height:400px;
}
.block_0 > div {
  border-bottom: 2px solid #cccccc;
}
.block_0 > div > h3 {
  margin-top: 20px;
  /* background-color: red; */
  text-align: left;
  font-size: 18px;
  color: #fff;
}
.block_0 > div > p {
  /* background-color: aqua; */
  font-size: 15px;
  text-align: left;
  font-weight: 400;
  color: #ffffff;
}
.block_1 {
  margin-top: 10px;
  /* display: flex; */
  max-width: 400px;
  /* justify-content: space-between; */
  /* background-color: lawngreen; */
  font-size: 15px;
  font-weight: bold;
  color: #cccccc;
}
.block_1 > div:nth-child(1) {
  max-width: 80px;
  /* background-color: red   ; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block_1 > div:nth-child(2) {
  width: 100px;
  max-width: 100px;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block_1 > div:nth-child(3) {
  width: 100px;
  max-width: 100px;
  display: flex;
  justify-content:center;
  /* background-color: red; */
}
.block_1 > div:nth-child(4) {
    width: 100px;
    max-width: 100px;
    /* background-color: red; */
    color: white;
  }

.block_1 > div:nth-child(4):hover{
    color: royalblue;
    text-decoration: underline;
}


.block_page{
  display: flex;
  /* background-color: red; */
  max-width: 900px;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  }
  .block_page>button{
    background-color: #2b2b2b;
    width: 170px;
    max-width: 170px;
    height: 45px;
    /* background-color: gold; */
    padding: 17px auto;
    border: 2px solid white;
    border-radius: 0px;
    font-weight: bold;
    color: white;
  }
  .block_page>button:nth-child(2){
    display: flex;
    justify-content: space-evenly;
  align-items: center;
  }
  .block_page>button:hover{
    background-color: #ec08ec;
    background-image:  linear-gradient(to right,#f05a28,#ec008c,#f05a28);
  }