.block_0{
    background-color: #202020;
}
.block_1{
    max-width: 1359px;
    height: 267.38px;
    background-color: teal;
    margin: auto;
}
.block_2{
    max-width: 1349px;
    height: 64px;
    background-color: olive;
    text-align: left;
    margin: auto;
}