.block_01 {
  width: auto;
  height: 1400px;
  margin: auto;
  background-image: linear-gradient(
    30deg,
    rgba(126, 6, 78, 0.75) 0%,
    rgba(32, 32, 32, 1) 50%,
    rgba(234, 42, 94, 1) 90%
  );
}
.block_1 {
  height: auto;
  width: 98%;
  margin: auto;
  border-radius: 25px;
  margin-bottom: 20px;
  background-image: linear-gradient(
    30deg,
    rgba(88, 2, 54, 0.75) 0%,
    rgba(32, 32, 32, 1) 50%,
    rgb(131, 23, 52) 90%
  );
  /* background-color: #282c34; */
}
.block_11 {
  width: 900px;
  height: 422px;
  /* background-color: teal; */
  margin: auto;
}
.block_11 > div:nth-child(1) {
  width: 870px;
  height: 140px;
  margin: auto;
  margin: 45px auto;
  /* background-color: olive; */
}
.block_11 h1 {
  width: 100%;
  font-size: 56px;
  color: #ffffff;
}
.block_11 > div:nth-child(2) {
  width: 870px;
  height: 52px;
  /* background-color: aquamarine; */
  margin: auto;
  margin-bottom: 20px;
}
.block_11 > div:nth-child(2) > p {
  /* background-color: aqua; */
  margin: auto;
  width: 550px;
  font-size: 17px;
  color: #eeeeee;
}
.block_11 > button {
  width: 151px;
  height: 52px;
  background-color: #ec008c;
  background-image: linear-gradient(to right, #f05a28, #ec008c, #f05a28);
  transition: 0.5s;
  font-size: 15px;
  font-weight: bold;
  color: #eeeeee;
  /* padding: 18px 34px; */
  /* transition-delay: 0.5s; */
}
.block_11 > button:hover {
  transition: 0.5s;
  background-color: white;
  margin-top: -5px;
  background-image: linear-gradient(to right, #f05a28, #ec008c, #f05a28);
}
.block_12 {
  width: auto;
  height: auto;
  margin: auto;
  /* background-color: aquamarine; */
}
.block_12 > div > div {
  width: 674.5px;
  height: 347px;
  /* background-color: #f05a28; */
}
.block_12 > div > div:nth-child(1) > img {
  width: 644.5px;
  height: 334.66px;
}
.block_12 > div > div:nth-child(2) > img {
  width: 592.16px;
  height: 347px;
}
.block_13 {
  /* background-color: #f05a28; */
  width: 1170px;
  margin: auto;
}
block_131 {
  width: 1170px;
  height: 81.25px;
}
.block_131 > div {
  width: 228px;
  height: 81.25px;
  background-color: aliceblue;
}

.block_2 {
  max-width: 1348px;
  height: 493px;
  background-color: palegreen;
  margin: auto;
}
.block_3 {
  max-width: 1348px;
  height: 765px;
  background-color: palevioletred;
  margin: auto;
  margin-top: 50px;
}
.block_4 {
  max-width: 1348px;
  height: 240px;
  margin: auto;
  /* background-color: aqua; */
  position: relative;
}
.block_4 > div {
  margin: auto;
  /* margin-top: 50px; */
  max-width: 840px;
  height: 240px;
  position: relative;
  top: 50px;
  background-color: peru;
}
.block_5 {
  background-color: #222222;
  max-width: 1348px;

  /* height: auto; */
  margin: auto;
}
.block_5 > div:nth-child(1) {
  height: 150px;
}
.block_5 > div:nth-child(2) {
  max-width: 1240px;
  margin: auto;
  height: 144px;
  background-color: teal;
}
.block_511 > div > div {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 1s  ease-in-out;
  transition-delay: 0.5s;
}
.block_511 > div > div:hover {

  background-color: yellow;
  transition: 0.5s ease-in-out;
  margin-top: -20px;
}
.block_6 {
  max-width: 1348px;
  height: 1034px;
  margin: auto;
  /* padding-top: 50px; */
  background-color: powderblue;
}
.block_7 {
  max-width: 1348px;
  height: 820px;
  height: auto;
  background-color: #f05a28;
  margin: auto;
  margin-top: 50px;
}
.block_71 {
  background-color: white;
  text-align: left;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.block_71 > div:nth-child(1) {
  /* background-color: #ec008c; */
  max-width: 327px;
  height: 100px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
}
.block_71 > div:nth-child(1) > img {
  max-width: 100px;
  height: 100px;
  text-align: left;
  background-color: teal;
  border-radius: 50px;
}
.block_71 > div:nth-child(2) {
  /* background-color: #ec008c; */
  max-width: 327px;
  height: 143px;
  margin: auto;
  font-size: 17px;
  color: #181818;
  margin-bottom: 20px;
}
.block_71 > div:nth-child(3) {
  /* background-color: #ec008c; */
  max-width: 327px;
  height: 19px;
  font-size: 16px;
  margin: auto;
  color: #ec008c;
  margin-bottom: 10px;
}
.block_71 > div:nth-child(4) {
  /* background-color: #ec008c; */
  max-width: 327px;
  height: 44px;
  font-size: 16px;
  margin: auto;
  color: #181818;
  margin-bottom: 10px;
}
.block_9{
  height: 423px;
  max-width: 1348px;
  background-color: olive;
  margin: auto;
  padding-top: 50px;
}
.block_9>div{
  height: 323px;
  max-width: 1348px;
  background-color: palegreen;
  margin: auto;
 
}
@media screen {
}
